.button,
.selected {
  border-radius: 4px;
  font-size: 26px;
  padding: 12px;
  border: solid 4px #fccd2a;
  font-weight: 700;
  cursor: pointer;
  width: 240px;
}

.button {
  background-color: transparent;
  color: #f5f5f6;
}
.button:hover {
  background-color: #4896e9;
  color: #f5f5f6;
}

.selected {
  background-color: #fccd2a;
  color: #1e5084;
}
.selected:hover {
  border: solid 4px #dfae00;
  background-color: #dfae00;
  color: #1e5084;
}

button:disabled,
button[disabled] {
  pointer-events: none;
}
